sbt-plugin/src/sbt-test/play-soap/incremental-compilation/helloWorld2.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://testservice2.soap.play/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="HelloWorld" targetNamespace="http://testservice2.soap.play/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://testservice2.soap.play/" elementFormDefault="unqualified" targetNamespace="http://testservice2.soap.play/" version="1.0">

  <xs:element name="sayHello" type="tns:sayHello"/>

  <xs:element name="sayHelloResponse" type="tns:sayHelloResponse"/>

  <xs:element name="sayHelloToMany" type="tns:sayHelloToMany"/>

  <xs:element name="sayHelloToManyResponse" type="tns:sayHelloToManyResponse"/>

  <xs:element name="sayHelloToUser" type="tns:sayHelloToUser"/>

  <xs:element name="sayHelloToUserResponse" type="tns:sayHelloToUserResponse"/>

  <xs:complexType name="sayHelloToMany">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="names" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="sayHelloToManyResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="sayHelloToUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="user" type="tns:user"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="user">
    <xs:sequence>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="sayHelloToUserResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:hello"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="hello">
    <xs:sequence>
      <xs:element minOccurs="0" name="user" type="tns:user"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="sayHello">
    <xs:sequence>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="sayHelloResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="sayHelloToUserResponse">
    <wsdl:part element="tns:sayHelloToUserResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sayHelloResponse">
    <wsdl:part element="tns:sayHelloResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sayHello">
    <wsdl:part element="tns:sayHello" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sayHelloToManyResponse">
    <wsdl:part element="tns:sayHelloToManyResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sayHelloToMany">
    <wsdl:part element="tns:sayHelloToMany" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sayHelloToUser">
    <wsdl:part element="tns:sayHelloToUser" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="HelloWorld">
    <wsdl:operation name="sayHelloToMany">
      <wsdl:input message="tns:sayHelloToMany" name="sayHelloToMany">
    </wsdl:input>
      <wsdl:output message="tns:sayHelloToManyResponse" name="sayHelloToManyResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sayHelloToUser">
      <wsdl:input message="tns:sayHelloToUser" name="sayHelloToUser">
    </wsdl:input>
      <wsdl:output message="tns:sayHelloToUserResponse" name="sayHelloToUserResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sayHello">
      <wsdl:input message="tns:sayHello" name="sayHello">
    </wsdl:input>
      <wsdl:output message="tns:sayHelloResponse" name="sayHelloResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="HelloWorldSoapBinding" type="tns:HelloWorld">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="sayHelloToMany">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="sayHelloToMany">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="sayHelloToManyResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sayHelloToUser">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="sayHelloToUser">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="sayHelloToUserResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sayHello">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="sayHello">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="sayHelloResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HelloWorldService">
    <wsdl:port binding="tns:HelloWorldSoapBinding" name="HelloWorld">
      <soap:address location="http://localhost:9001/helloWorld"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>