sbt-plugin/src/sbt-test/play-soap/simple-client-scala-future/conf/wsdls/primitives.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://testservice.soap.play/primitives" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="Primitives" targetNamespace="http://testservice.soap.play/primitives">
  <!--
   ~ Copyright (C) 2015-2019 Lightbend Inc. <https://www.lightbend.com>
   -->

  <!--
   ~ THIS FILE IS AUTO GENERATED. DO NOT EDIT THIS FILE MANUALLY.
   ~
   ~ Run 'generate-primitives.py' to regenerate it.
  -->

  <wsdl:types>
    <xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://testservice.soap.play/primitives">
    
      <xs:element name="booleanOp">
        <xs:complexType name="booleanOp">
          <xs:sequence>
            <xs:element name="x" type="xs:boolean"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="booleanOpResponse">
        <xs:complexType name="booleanOpResponse">
          <xs:sequence>
            <xs:element name="return" type="xs:boolean"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="booleanSequence">
        <xs:complexType name="booleanSequence">
          <xs:sequence>
            <xs:element name="xs" type="xs:boolean" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="booleanSequenceResponse">
        <xs:complexType name="booleanSequenceResponse">
          <xs:sequence>
            <xs:element name="return" type="xs:boolean" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="byteOp">
        <xs:complexType name="byteOp">
          <xs:sequence>
            <xs:element name="x" type="xs:byte"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="byteOpResponse">
        <xs:complexType name="byteOpResponse">
          <xs:sequence>
            <xs:element name="return" type="xs:byte"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="byteSequence">
        <xs:complexType name="byteSequence">
          <xs:sequence>
            <xs:element name="xs" type="xs:byte" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="byteSequenceResponse">
        <xs:complexType name="byteSequenceResponse">
          <xs:sequence>
            <xs:element name="return" type="xs:byte" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="doubleOp">
        <xs:complexType name="doubleOp">
          <xs:sequence>
            <xs:element name="x" type="xs:double"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="doubleOpResponse">
        <xs:complexType name="doubleOpResponse">
          <xs:sequence>
            <xs:element name="return" type="xs:double"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="doubleSequence">
        <xs:complexType name="doubleSequence">
          <xs:sequence>
            <xs:element name="xs" type="xs:double" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="doubleSequenceResponse">
        <xs:complexType name="doubleSequenceResponse">
          <xs:sequence>
            <xs:element name="return" type="xs:double" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="floatOp">
        <xs:complexType name="floatOp">
          <xs:sequence>
            <xs:element name="x" type="xs:float"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="floatOpResponse">
        <xs:complexType name="floatOpResponse">
          <xs:sequence>
            <xs:element name="return" type="xs:float"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="floatSequence">
        <xs:complexType name="floatSequence">
          <xs:sequence>
            <xs:element name="xs" type="xs:float" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="floatSequenceResponse">
        <xs:complexType name="floatSequenceResponse">
          <xs:sequence>
            <xs:element name="return" type="xs:float" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="intOp">
        <xs:complexType name="intOp">
          <xs:sequence>
            <xs:element name="x" type="xs:int"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="intOpResponse">
        <xs:complexType name="intOpResponse">
          <xs:sequence>
            <xs:element name="return" type="xs:int"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="intSequence">
        <xs:complexType name="intSequence">
          <xs:sequence>
            <xs:element name="xs" type="xs:int" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="intSequenceResponse">
        <xs:complexType name="intSequenceResponse">
          <xs:sequence>
            <xs:element name="return" type="xs:int" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="longOp">
        <xs:complexType name="longOp">
          <xs:sequence>
            <xs:element name="x" type="xs:long"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="longOpResponse">
        <xs:complexType name="longOpResponse">
          <xs:sequence>
            <xs:element name="return" type="xs:long"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="longSequence">
        <xs:complexType name="longSequence">
          <xs:sequence>
            <xs:element name="xs" type="xs:long" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="longSequenceResponse">
        <xs:complexType name="longSequenceResponse">
          <xs:sequence>
            <xs:element name="return" type="xs:long" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="shortOp">
        <xs:complexType name="shortOp">
          <xs:sequence>
            <xs:element name="x" type="xs:short"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="shortOpResponse">
        <xs:complexType name="shortOpResponse">
          <xs:sequence>
            <xs:element name="return" type="xs:short"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="shortSequence">
        <xs:complexType name="shortSequence">
          <xs:sequence>
            <xs:element name="xs" type="xs:short" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="shortSequenceResponse">
        <xs:complexType name="shortSequenceResponse">
          <xs:sequence>
            <xs:element name="return" type="xs:short" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </wsdl:types>

    <wsdl:message name="booleanOp">
      <wsdl:part element="tns:booleanOp" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="booleanOpResponse">
      <wsdl:part element="tns:booleanOpResponse" name="return"/>
    </wsdl:message>
    <wsdl:message name="byteOp">
      <wsdl:part element="tns:byteOp" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="byteOpResponse">
      <wsdl:part element="tns:byteOpResponse" name="return"/>
    </wsdl:message>
    <wsdl:message name="doubleOp">
      <wsdl:part element="tns:doubleOp" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="doubleOpResponse">
      <wsdl:part element="tns:doubleOpResponse" name="return"/>
    </wsdl:message>
    <wsdl:message name="floatOp">
      <wsdl:part element="tns:floatOp" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="floatOpResponse">
      <wsdl:part element="tns:floatOpResponse" name="return"/>
    </wsdl:message>
    <wsdl:message name="intOp">
      <wsdl:part element="tns:intOp" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="intOpResponse">
      <wsdl:part element="tns:intOpResponse" name="return"/>
    </wsdl:message>
    <wsdl:message name="longOp">
      <wsdl:part element="tns:longOp" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="longOpResponse">
      <wsdl:part element="tns:longOpResponse" name="return"/>
    </wsdl:message>
    <wsdl:message name="shortOp">
      <wsdl:part element="tns:shortOp" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="shortOpResponse">
      <wsdl:part element="tns:shortOpResponse" name="return"/>
    </wsdl:message>
  <wsdl:message name="booleanSequence">
    <wsdl:part element="tns:booleanSequence" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="booleanSequenceResponse">
    <wsdl:part element="tns:booleanSequenceResponse" name="return"/>
  </wsdl:message>
  <wsdl:message name="byteSequence">
    <wsdl:part element="tns:byteSequence" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="byteSequenceResponse">
    <wsdl:part element="tns:byteSequenceResponse" name="return"/>
  </wsdl:message>
  <wsdl:message name="doubleSequence">
    <wsdl:part element="tns:doubleSequence" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="doubleSequenceResponse">
    <wsdl:part element="tns:doubleSequenceResponse" name="return"/>
  </wsdl:message>
  <wsdl:message name="floatSequence">
    <wsdl:part element="tns:floatSequence" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="floatSequenceResponse">
    <wsdl:part element="tns:floatSequenceResponse" name="return"/>
  </wsdl:message>
  <wsdl:message name="intSequence">
    <wsdl:part element="tns:intSequence" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="intSequenceResponse">
    <wsdl:part element="tns:intSequenceResponse" name="return"/>
  </wsdl:message>
  <wsdl:message name="longSequence">
    <wsdl:part element="tns:longSequence" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="longSequenceResponse">
    <wsdl:part element="tns:longSequenceResponse" name="return"/>
  </wsdl:message>
  <wsdl:message name="shortSequence">
    <wsdl:part element="tns:shortSequence" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="shortSequenceResponse">
    <wsdl:part element="tns:shortSequenceResponse" name="return"/>
  </wsdl:message>
  <wsdl:portType name="Primitives">
    <wsdl:operation name="booleanOp">
      <wsdl:input message="tns:booleanOp" name="booleanOp"/>
      <wsdl:output message="tns:booleanOpResponse" name="booleanOpResponse"/>
    </wsdl:operation>
    <wsdl:operation name="booleanSequence">
      <wsdl:input message="tns:booleanSequence" name="booleanSequence"/>
      <wsdl:output message="tns:booleanSequenceResponse" name="booleanSequenceResponse"/>
    </wsdl:operation>
    <wsdl:operation name="byteOp">
      <wsdl:input message="tns:byteOp" name="byteOp"/>
      <wsdl:output message="tns:byteOpResponse" name="byteOpResponse"/>
    </wsdl:operation>
    <wsdl:operation name="byteSequence">
      <wsdl:input message="tns:byteSequence" name="byteSequence"/>
      <wsdl:output message="tns:byteSequenceResponse" name="byteSequenceResponse"/>
    </wsdl:operation>
    <wsdl:operation name="doubleOp">
      <wsdl:input message="tns:doubleOp" name="doubleOp"/>
      <wsdl:output message="tns:doubleOpResponse" name="doubleOpResponse"/>
    </wsdl:operation>
    <wsdl:operation name="doubleSequence">
      <wsdl:input message="tns:doubleSequence" name="doubleSequence"/>
      <wsdl:output message="tns:doubleSequenceResponse" name="doubleSequenceResponse"/>
    </wsdl:operation>
    <wsdl:operation name="floatOp">
      <wsdl:input message="tns:floatOp" name="floatOp"/>
      <wsdl:output message="tns:floatOpResponse" name="floatOpResponse"/>
    </wsdl:operation>
    <wsdl:operation name="floatSequence">
      <wsdl:input message="tns:floatSequence" name="floatSequence"/>
      <wsdl:output message="tns:floatSequenceResponse" name="floatSequenceResponse"/>
    </wsdl:operation>
    <wsdl:operation name="intOp">
      <wsdl:input message="tns:intOp" name="intOp"/>
      <wsdl:output message="tns:intOpResponse" name="intOpResponse"/>
    </wsdl:operation>
    <wsdl:operation name="intSequence">
      <wsdl:input message="tns:intSequence" name="intSequence"/>
      <wsdl:output message="tns:intSequenceResponse" name="intSequenceResponse"/>
    </wsdl:operation>
    <wsdl:operation name="longOp">
      <wsdl:input message="tns:longOp" name="longOp"/>
      <wsdl:output message="tns:longOpResponse" name="longOpResponse"/>
    </wsdl:operation>
    <wsdl:operation name="longSequence">
      <wsdl:input message="tns:longSequence" name="longSequence"/>
      <wsdl:output message="tns:longSequenceResponse" name="longSequenceResponse"/>
    </wsdl:operation>
    <wsdl:operation name="shortOp">
      <wsdl:input message="tns:shortOp" name="shortOp"/>
      <wsdl:output message="tns:shortOpResponse" name="shortOpResponse"/>
    </wsdl:operation>
    <wsdl:operation name="shortSequence">
      <wsdl:input message="tns:shortSequence" name="shortSequence"/>
      <wsdl:output message="tns:shortSequenceResponse" name="shortSequenceResponse"/>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="PrimitivesServiceSoapBinding" type="tns:Primitives">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="booleanOp">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="booleanOp">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="booleanOpResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="booleanSequence">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="booleanSequence">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="booleanSequenceResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="byteOp">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="byteOp">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="byteOpResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="byteSequence">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="byteSequence">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="byteSequenceResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="doubleOp">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="doubleOp">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="doubleOpResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="doubleSequence">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="doubleSequence">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="doubleSequenceResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="floatOp">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="floatOp">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="floatOpResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="floatSequence">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="floatSequence">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="floatSequenceResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="intOp">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="intOp">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="intOpResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="intSequence">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="intSequence">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="intSequenceResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="longOp">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="longOp">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="longOpResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="longSequence">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="longSequence">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="longSequenceResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="shortOp">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="shortOp">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="shortOpResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="shortSequence">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="shortSequence">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="shortSequenceResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PrimitivesService">
    <wsdl:port binding="tns:PrimitivesServiceSoapBinding" name="Primitives">
      <soap:address location="http://localhost:53916/primitives"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>